<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>检查报告</title>
    <!--<meta name="keywords" content="移动查房管理系统">
    <meta name="description" content="移动查房管理系统">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">-->
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }

        .layui-table-tool-temp {
            padding-right: 0px;
        }

        .layui-table-cell {
            padding: 0 10px;
        }

        .layui-table-tool {
            padding-left: 0;
        }

        .layui-table, .layui-table-view {
            margin: 0px;
        }
    </style>
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div>
                <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
            </div>
        </div>
    </div>
    <!-- 操作列 -->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <blockquote class="layui-elem-quote" style="font-size: 1.1rem; display: inline-block; line-height: 1; padding: 8px; font-weight: bold; padding-right: 20px;">检查报告</blockquote>
            <i class="layui-icon layui-icon-form" style="color:blue"></i>
            <button type="button" id="btn_ward_name" class="layui-btn layui-btn-primary" style="border-color:transparent">病区名称</button>
            <i class="layui-icon layui-icon-username" style="color:blue"></i>
            <button type="button" id="btn_user_name" class="layui-btn layui-btn-primary" style="border-color:transparent">患者姓名</button>
            <button class="layui-btn layui-btn-sm layui-bg-blue" id="reloadTest" style="display:none">
                选择病区
                <i class="layui-icon layui-icon-down layui-font-12"></i>
            </button>
            <!--<button class="layui-btn layui-btn-normal" lay-event="allPatient">全部患者</button>
            <button class="layui-btn layui-btn-primary" lay-event="myPatient">我的患者</button>-->

            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="javascrript:window.history.back();" style="float: right;font-size:14px"><i class="layui-icon"></i>返回</button>

        </div>
    </script>
    <script type="text/html" id="auth-state">
        <a class="layui-btn layui-btn-primary layui-btn-sm layui-bg-blue" style="font-size:14px" lay-event="detail">查看报告</a>
        <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
    </script>
    <script type="text/html" id="sexTpl">
        {{#  if(d.sex_name === '女'){ }}
        <span style="color: #F581B1;">{{ d.sex_name }}</span>
        {{#  } else { }}
        <span style="color: dodgerblue;">
            {{ d.sex_name }}
        </span>
        {{#  } }}
    </script>
    <script type="text/html" id="statusTpl">
        {{#  if(d.exam_status === '0'){ }}
        <span style="color: green;">申请</span>
        {{#  } else if(d.exam_status === '1'){ }}
        <span style="color: red;">已登记</span>
        {{#  } else { }}
        <!--{ d.admiss_status_name }}-->
        {{#  } }}
    </script>
    <script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script>

        //alert("height:"+ screen.height + "width:"+screen.width  )
        layui.use(['table', 'treetable', 'dropdown', 'appconfig'], function () {
            var $ = layui.jquery;
            var table = layui.table;
            var treetable = layui.treetable;
            var appconfig = layui.appconfig;
            var dropdown = layui.dropdown;


            var loginUser = localStorage.getItem('loginUser');

            if (loginUser === null) {
                location.href = "login.html";
                return;
            }
            var loginUserData = JSON.parse(loginUser);

            var wardData = localStorage.getItem('wardData');

            if (wardData === null) {
                layer.msg("请先选择病区！");
                location.href = "view/wardlist.html";
                return;
            }
            var jsonData = JSON.parse(wardData);
            localStorage.ward_sn = jsonData.ward_sn;
            localStorage.ward_name = jsonData.ward_name;

            var userData = localStorage.getItem('userData');

            if (userData === null) {
                layer.msg("请先选择患者！");
                return;
            }
            var patientData = JSON.parse(userData);



            // 渲染
            table.render({
                elem: '#munu-table',//GetJianChaApplys(string patient_id, string admiss_times)
                url: appconfig.api + '/api/MobileWard/GetJianChaApplys?patient_id=' + patientData.patient_id + '&admiss_times=' + patientData.admiss_times,
                //page: true,
                toolbar: '#toolbarDemo',
                //defaultToolbar: ['filter', 'exports', 'print', {
                //  title: '帮助'
                //  ,layEvent: 'LAYTABLE_TIPS'
                //  ,icon: 'layui-icon-tips'
                //}],
                defaultToolbar: [],
                response: {
                    statusCode: 1 // 重新规定成功的状态码为 1，table 组件默认为 0
                },
                // 将原始数据解析成 table 组件所规定的数据格式
                parseData: function (res) {
                    return {
                        "code": res.status, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.total, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                },
                cellMinWidth: 60,
                cols: [[
                    //{ field: 'inpatient_no', title: '住院号', width: 90, sort: true },// unresize: true,
                    { field: 'exam_serial', title: '申请单号', width: 130, sort: true },
                    { field: 'exam_status', title: '检查状态', width: 80, templet: '#statusTpl' },
                    { field: 'exam_type_name', title: '检查类型' },
                    { field: 'exam_sub_type_name', title: '检查项目' },
                    { field: 'charge_amount', title: '数量', width: 50 },
                    { field: 'apply_date_str', title: '申请日期', sort: true },
                    { field: 'RIS_AccNO', title: '影像编号' },
                    { fixed: 'right', title: '操作', toolbar: '#auth-state', width: 100 }
                ]],
                //height: 315

            });

            $("#btn_ward_name").html(localStorage.ward_name);
            //$("#btn_user_name").html(loginUserData.name);
            $("#btn_user_name").html(patientData.name + " " + patientData.sex_name + " " + patientData.ages);
 

            //监听工具条
            table.on('tool(munu-table)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;

                if (layEvent === 'del') {
                    layer.msg('删除' + data.id);
                } else if (layEvent === 'edit') {
                    layer.msg('修改' + data.id);
                } else if (layEvent === 'detail') {
                    //localStorage.setItem('userData', JSON.stringify(data));
                    //const now = new Date();
                    //const ticks = now.getTime();
                    //console.log(ticks);
                    //location.href = "view/patient.html"+"?ticks="+ticks;


                    if (data.Url_String === undefined) {
                        layer.msg('查看报告，地址：' + data.Url_String);
                    } else {

                    }
        //
                    window.open("http://10.101.199.163/musescripts/museweb.dll?RetrieveTestList?PatientID=2018286121&Site=1");
                    //window.parent.layui.layer.open({
                    //    type: 1,
                    //    area: ['100%', '100%'],
                    //    title: "检查报告",
                    //    closeBtn: 1,
                    //    shadeClose: true, // 点击遮罩关闭层
                    //    //content: "<iframe src='" + "http://10.101.199.163/musescripts/museweb.dll?RetrieveTestList?PatientID=2018286121&Site=1" +
                    //    content: "<iframe src='" + "http://10.101.199.163//musescripts/museweb.dll?RetrieveTestByDateTime?PatientID=2018286121&Date=25-09-2018&Time=09%3a21%3a25%3a00&TestType=ECG&Site=1&OutputType=PDF&Device=205&TestID=144321&Ext=.PDF" +
                    //        "' style='width:100%;height:100%'></iframe>"//+"?ticks="+ticks //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    //});
                }
            });
        });
    </script>
</body>
</html>